
/* Responsividade padrão tablet */

@media screen and (max-width: 830px) {
    body, main, .cabecalho, .sobre-mim,
    .container-skills-hobbies, .formacao,
    .experiencia, .formulario, footer {
        width: auto;
    }
    /* Header */

    .nome-header1 {
        margin: 0.3em auto auto 1em;
        font-weight: bold;
        font-size: 16px;
    }

    header p:before {
        display: inline-block;
        content: url("../Imagens/Logo.png");
        margin-right: .3em;
    }

    .nome-header2 {
        display: none;
    }

    #menu {
        display: block;
        position: absolute;
        width: 105%;
        top: 65px;
        background: #F5F5F5;
        transition: .6s;
        height: 0;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 0 0 3.2em;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 1rem;
        margin: auto 3em auto auto;
    }

    #nav-menu.active #menu {
        height: 57vh;
        visibility: visible;
    }

    /* Seção Apresentação */

    .apresentacao {
        height: 310px;
    }

    .foto-perfil {
        width: 196px;
        height: 196px;
        display: block;
        float: right;
        margin: 3em 4em 0 0;
    }

    .apresentacao h1 {
        display: block;
        font-size: 25px;
        font-weight: bold;
        margin: 3.5em 0 0.5em 1em;
    }

    .apresentacao p {
        font-size: 16px;
        display: block;
        flex-wrap: wrap;
        margin: 0 0 1em 1.6em;
        width: 60%;
    }

    .links-sociais {
        width: 90%;
        margin: -0.5em 0.1em 0 1.5em;
    }
    .links-sociais li {
        display: inline-block;
        margin-right: 25px;
    }

    .links-sociais a {
        font-size: .78rem;
    }

    /* Seção Sobre Mim */

    .sobre-mim {
        height: 650px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1.6em;
        font-size: 22px;
    }
    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 2.5em;
        font-size: 14px;
    }

    .assinatura {
        font-family: 'Passions Conflict', cursive;
        font-size: 3.5rem;
        font-style: italic;
    }

    /* Seção Skills e Hobbies */

    .container-skills-hobbies {
        padding-bottom: 4%;
    }

    .skills {
        display: block;
    }

    .skills ul {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: auto;
    }

    .skills h2 {
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding-top: 2rem;

    }

    .skills p {
        margin: -4.5em auto 5em .5em;
        font-weight: bold;
    }

    .skills li {
        width: 194px;
        height: 196px;
        background-color: #ffffff;
        display: inline-block;
        margin: 5% auto;
        border-radius: 2%;
        box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
    }

    .skills img {
        margin: 7.5em auto 5em .5em;
    }

    .hobbies {
        display: block;
    }

    .hobbies ul {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        margin: auto;
    }

    .hobbies h2 {
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding-top: 3rem;
    }

    .hobbies p {
        margin: -4.5em auto 5em .5em;
        font-weight: bold;
    }

    .hobbies li {
        width: 194px;
        height: 196px;
        background-color: #ffffff;
        display: inline-block;
        margin: 5% auto;
        border-radius: 2%;
        box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.76);
    }

    .hobbies img {
        margin: 7.5em auto 5em .5em;
    }


    /* Seção Formação Acadêmica */

    .formacao {
        background-color: #D4E4FA;
    }
    .formacao h2 {
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding-top: 2rem;
    }
    .formacoes {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        justify-content: space-between;
    }
    .bloco-formacoes {
        background-color: #ffffff;
        display: inline-block;
        margin: 8% auto 5% auto;
        border-radius: 2%;
        box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
        width: 300px;
        height: 168px;
    }

    .logo-uniavan{
        width: 80%;
        margin: 10% 10% 0 9%;
    }

    .logo-alura {
        width: 60%;
        margin: 7% 10% 0 20%;;
    }

    .formacoes div h3 {
        margin: 0.02em 0 0 0;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        text-align: left;

    }

    .formacoes div p {
        margin: 0.05em 0 2em 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        text-align: left;
        padding-bottom: 2%;
    }

    /* Seção Contato */

    .formulario {
        display: flex;
        margin: 10% auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .formulario img {
        display: none;
    }
}

/* Ajuste de quebra de elementos */

@media screen and (max-width: 770px) {
    .sobre-mim {
        height: 730px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1.6em;
        font-size: 22px;
    }
    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 2.5em;
        font-size: 14px;
    }
}

@media screen and (max-width: 710px) {
    .sobre-mim {
        height: 690px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1.6em;
        font-size: 22px;
    }
    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 2.5em;
        font-size: 14px;
    }
}

@media screen and (max-width: 675px) {

    .sobre-mim {
        height: 720px;
        padding-top: 35px;
    }

    #btn-mobile {
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 1rem;
        margin: auto 0.5em auto auto;
    }

    .apresentacao {
        height: 270px;
    }

    .foto-perfil {
        width: 166px;
        height: 166px;
        display: block;
        float: right;
        margin: 3.5em 2em 0 0;
    }

    .apresentacao h1 {
        display: block;
        font-size: 20px;
        font-weight: bold;
        margin: 4em 0 0.5em 1em;
    }

    .apresentacao p {
        font-size: 14px;
        display: block;
        flex-wrap: wrap;
        margin: .5em 0 1em 1.6em;
        width: 60%;
    }

    .links-sociais {
        width: 65%;
        margin: 0 0 0 1.3em;
    }
    .links-sociais li {
        display: inline-block;
        margin-right: 25px;
    }

    .links-sociais a {
        text-decoration: none;
        color: #000000;
        font-size: 14px;
    }

    .assinatura {
        font-family: 'Passions Conflict', cursive;
        font-size: 3.5rem;
        font-style: italic;
    }

    .formacoes {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        justify-content: space-between;
    }

    .bloco-formacoes {
        background-color: #ffffff;
        display: inline-block;
        margin: 8% auto 5% auto;
        border-radius: 2%;
        box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
        width: 250px;
        height: 128px;
    }

    .logo-alura {
        width: 60%;
        margin: 5% 10% 0 20%;;
    }

    .formacoes div h3 {
        margin: 0.02em 0 0 0;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        text-align: left;

    }
    .formacoes div p {
        margin: 0.05em 0 2em 0;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        text-align: left;
        padding-bottom: 2%;
    }
}

@media screen and (max-width: 653px){

    .sobre-mim {
        height: 710px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1.6em;
        font-size: 22px;
    }
    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 2.5em;
        font-size: 13px;
    }

    .apresentacao {
        height: 270px;
    }

    .foto-perfil {
        width: 166px;
        height: 166px;
        display: block;
        float: right;
        margin: 3.5em 2em 0 0;
    }

    .apresentacao h1 {
        display: block;
        font-size: 20px;
        font-weight: bold;
        margin: 4em 0 0.5em 1em;
    }

    .apresentacao p {
        font-size: 14px;
        display: block;
        flex-wrap: wrap;
        margin: .5em 0 1em 1.6em;
        width: 60%;
    }

    .links-sociais {
        width: 65%;
        margin: 0 0 0 1.3em;
    }
    .links-sociais li {
        display: inline-block;
        margin-right: 22px;
    }

    .links-sociais a {
        text-decoration: none;
        color: #000000;
        font-size: 12px;
    }

    /* Seção Skills e Hobbies */

    .container-skills-hobbies {
        padding-bottom: 4%;
    }

    .skills {
        display: block;
    }

    .skills ul {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .skills h2 {
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding-top: 2rem;

    }

    .skills p {
        margin: -4.5em auto 5em .5em;
        font-weight: bold;
    }

    .skills li {
        width: 175px;
        height: 176px;
        background-color: #ffffff;
        display: inline-block;
        margin: 5% auto;
        border-radius: 2%;
        box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
    }

    .skills img {
        margin: 7em auto 5em .5em;
    }

    .hobbies {
        display: block;
    }

    .hobbies ul {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .hobbies h2 {
        text-align: center;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding-top: 3rem;
    }

    .hobbies p {
        margin: -4.5em auto 5em .5em;
        font-weight: bold;
    }

    .hobbies li {
        width: 194px;
        height: 196px;
        background-color: #ffffff;
        display: inline-block;
        margin: 5% auto;
        border-radius: 2%;
        box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.76);
    }

    .hobbies img {
        margin: 7em auto 5em .5em;
    }

}

@media screen and (max-width: 639px) {

    .sobre-mim {
        height: 700px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1.6em;
        font-size: 22px;
    }

    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 2.5em;
        font-size: 13px;
    }
}

@media screen and (max-width: 590px) {

    .sobre-mim {
        height: 700px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1.6em;
        font-size: 22px;
    }

    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 2.5em;
        font-size: 13px;
    }
}

