
/* Responsividade padrão Mobile */

@media screen and (max-width: 570px) {
    body, main, .cabecalho, .sobre-mim,
    .container-skills-hobbies, .formacao,
    .experiencia, .formulario, footer {
        width: auto;
    }
    /* Header */

    header p {
        display: none;
        margin: 1% auto auto 4%;
        font-size: 1.5rem;
        text-align: left;
    }

    .nome-header2 {
        display: inline-block;
        margin: .3em auto auto .1em;
        font-size: 1rem;
        text-align: left;
    }
    

    header p:before {
        position: relative;
        content: url("../Imagens/Logo16x16.png");
        margin-right: .3em;
        width: 16px;
        height: 16px;
    }

    #menu {
        display: block;
        position: absolute;
        width: 105%;
        top: 45px;
        right: -7em;
        background: #F5F5F5;
        transition: .6s;
        height: 0;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav-menu.active #menu {
        height: 100vh;
        visibility: visible;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 0 0 1.7rem;
        border-bottom: 2px solid rgba(0, 0, 0, .05);
    }

    /* Seção Apresentação */

    .apresentacao {
        height: 310px;
    }

    .foto-perfil {
        width: 98px;
        height: 98px;
        display: block;
        float: left;
        margin: 2.5em 0 0 .3em;
    }

    .apresentacao h1 {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 8em 0 0.5em 0.3em;
        width: 90%;
    }

    .apresentacao p {
        font-size: 0.8rem;
        display: block;
        flex-wrap: wrap;
        margin: 1em 0 1em .5em;
        width: 90%;
    }

    .links-sociais {
        width: 90%;
        margin: -0.5em 0.1em 0 0.4em;
    }
    .links-sociais li {
        display: inline-block;
        margin-right: 18px;
    }

    .links-sociais a {
        font-size: .78rem;
    }


    /* Seção Sobre Mim */

    .sobre-mim {
        height: 700px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1em;
        font-size: 22px;
    }

    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 1.5em;
        font-size: 13px;
    }

    .assinatura {
        font-size: 30px;
    }

    /* Seção Skills e Hobbies */

    .container-skills-hobbies {
        padding-bottom: 4%;
    }

    .skills {
        display: block;
    }

    .skills ul {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .skills h2 {
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding-top: 2rem;

    }

    .skills p {
        margin: -4.5em auto 5em .5em;
        font-weight: bold;
    }

    .skills li {
        width: 156px;
        height: 118px;
        background-color: #ffffff;
        display: inline-block;
        margin: 5% auto;
        border-radius: 2%;
        box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
    }

    .skills img {
        margin: 3em auto 5em .5em;
    }

    .hobbies {
        display: block;
    }

    .hobbies ul {
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: auto;
    }

    .hobbies h2 {
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding-top: 3rem;
    }

    .hobbies p {
        margin: -4.5em auto 5em .5em;
        font-weight: bold;
    }

    .hobbies li {
        width: 156px;
        height: 118px;
        background-color: #ffffff;
        display: inline-block;
        margin: 5% auto;
        border-radius: 2%;
        box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.76);
    }

    .hobbies img {
        margin: 3.5em auto 5em .5em;
    }


    /* Seção Formação Acadêmica */

    .formacao {
        background-color: #D4E4FA;
    }

    .formacao h2 {
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        padding-top: 2rem;
    }

    .formacoes {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding: 0 10px;
    }

    .bloco-formacoes {
        background-color: #ffffff;
        display: inline-block;
        margin: 1em auto;
        border-radius: 2%;
        box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
        width: 350px;
        height: 168px;
    }

    .logo-uniavan{
        width: 80%;
        margin: 10% 10% 0 9%;
    }

    .logo-alura {
        width: 60%;
        margin: 5% 10% 0 20%;;
    }

    .formacoes div h3 {
        margin: -0.5em 0 0 .7em;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        text-align: left;
    }

    .formacoes div p {
        margin: 0.05em 0 2em .7em;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 19px;
        text-align: left;
        padding-bottom: 2%;
    }


    /* Seção Contato */

    .formulario {
        display: flex;
        margin: 1.5em auto 2.5em auto;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }

    .formulario img {
        display: none;
    }

    form h3 {
        margin: 0 0 10px .7em;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 38px;
        text-align: left;
    }
    form legend {
        margin: 0 0 3em 1em;
        font-size: .9rem;
        font-style: normal;
        font-weight: 500;
        line-height: 1rem;
        text-align: left;
    }

    label  {
        display: block;
        font-size: 0.8rem;
        margin-bottom: -1.3rem;
        margin-left: 1.5em;
    }

    form input {
        display: block;
        margin: 0 0 2em .8em;
        padding: 9px 15px 2px;
        width: 95%;
        height: 60px;
    }

    form textarea {
        padding: 25px 20px;
        margin: 0 0 2em .8em;
        width: 95%;
    }

    #botao {
        color: white;
        font-size: 1rem;
        background-color: #2A7AE4;
        width: 95%;
        height: 60px;
        margin-left: .8em;
    }


    .form-control-error small {
        visibility: visible;
        margin-top: -1em;
        margin-left: 1em;
    }

    .form-control-success span {
        visibility: visible;
        margin-left: 1em;
    }



    @media screen and (max-width: 550px) {

    .sobre-mim {
        height: 700px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1em;
        font-size: 22px;
    }

    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 1.5em;
        font-size: 12px;
    }
}

@media screen and (max-width: 480px) {

    .sobre-mim {
        height: 720px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1em;
        font-size: 22px;
    }

    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 1.5em;
        font-size: 12px;
    }
}

@media screen and (max-width: 445px) {

    .sobre-mim {
        height: 780px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1em;
        font-size: 22px;
    }

    .sobre-mim p {
        display: block;
        width: 85%;
        margin: 2em 0 0 1.5em;
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {

    .apresentacao {
        height: 310px;
    }

    .foto-perfil {
        width: 98px;
        height: 98px;
        display: block;
        float: left;
        margin: 2.5em 0 0 .3em;
    }

    .apresentacao h1 {
        display: block;
        font-size: 1.2rem;
        font-weight: bold;
        margin: 8em 0 0.5em 0.3em;
        width: 90%;
    }

    .apresentacao p {
        font-size: 0.7rem;
        display: block;
        flex-wrap: wrap;
        margin: 1em 0 1em .5em;
        width: 90%;
    }

    .links-sociais {
        width: 90%;
        margin: -0.5em 0.1em 0 0.4em;
    }
    .links-sociais li {
        display: inline-block;
        margin-right: .5em;
    }

    .links-sociais a {
        font-size: .70rem;
    }

    .sobre-mim {
        height: 810px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1.6em;
        font-size: 22px;
    }

    .sobre-mim p {
        display: block;
        width: 90%;
        margin: 2em 0 0 1.5em;
        font-size: 12px;
    }


    .container-skills-hobbies {
            padding-bottom: 4%;
        }

        .skills {
            display: block;
        }

        .skills ul {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
        }

        .skills h2 {
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 38px;
            padding-top: 2rem;
        }

        .skills p {
            margin: -4.8em auto 5em .5em;
            font-weight: bold;
        }

        .skills li {
            width: 154px;
            height: 156px;
            background-color: #ffffff;
            display: inline-block;
            margin: 5% auto;
            border-radius: 2%;
            box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
        }

        .skills img {
            margin: 5.5em auto 5em .5em;
        }

        .hobbies {
            display: block;
        }

        .hobbies ul {
            display: flex;
            flex-wrap: wrap;
            width: 90%;
            margin: auto;
        }

        .hobbies h2 {
            text-align: center;
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 38px;
            padding-top: 3rem;
        }

        .hobbies p {
            margin: -4.8em auto 5em .5em;
            font-weight: bold;
        }

        .hobbies li {
            width: 154px;
            height: 156px;
            background-color: #ffffff;
            display: inline-block;
            margin: 5% auto;
            border-radius: 2%;
            box-shadow: 2px 2px 2px rgba(204, 204, 204, 0.76);
        }

        .hobbies img {
            margin: 5.5em auto 5em .5em;
        }

    }

@media screen and (max-width: 380px) {

    .sobre-mim {
        height: 850px;
        padding-top: 35px;
    }

    .sobre-mim h2 {
        display: block;
        margin: 0 0 0 1.6em;
        font-size: 22px;
    }

    .sobre-mim p {
        display: block;
        width: 90%;
        margin: 2em 0 0 1.5em;
        font-size: 12px;
    }

    .formacoes {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        justify-content: center;
        padding: 0 10px;
    }
    .bloco-formacoes {
        background-color: #ffffff;
        display: inline-block;
        margin: 1em auto;
        border-radius: 2%;
        box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
        width: 310px;
        height: 168px;
    }
}

@media screen and (max-width: 331px) {
    .links-sociais {
        width: 95%;
        margin: -0.5em 0.1em 0 0.4em;
    }

    .links-sociais li {
        display: inline-block;
        margin-right: .5em;
    }

    .links-sociais a {
        font-size: .70rem;
    }

    .formacoes {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding: 0 10px;
    }

    .bloco-formacoes {
        background-color: #ffffff;
        display: inline-block;
        margin: 1em auto;
        border-radius: 2%;
        box-shadow: 4px 4px 4px rgba(204, 204, 204, 0.76);
        width: 290px;
        height: 168px;
    }
    }
}